@import "tailwindcss";
@plugin "@tailwindcss/typography";

/* .wp-block-file {
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  background-color: #f9f9f9;
  margin-bottom: 1rem;
} */

.wp-block-file__button {
  display: inline-block;
  /* margin-top: 0.5rem; */
  background-color: #2563eb;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  text-decoration: none;
  transition: background-color 0.2s ease-in-out;
}

.wp-block-file__button:hover {
  background-color: #1e40af;
}

/* .wp-block-file__embed {
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.375rem;
} */

[id^="wp-block-file--media-"] {
  display: none;
}
